<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=review.author.username) }}">
                <img src="{{ review.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <a href="{{ url_for('main.user', username=review.author.username) }}">
                    {{ review.author.username }}
                </a>
            {% endset %}
            {{ _('%(username)s said %(when)s with %(stars)s stars',
                username=user_link, when=moment(review.timestamp).fromNow(), stars=(review.stars)) }}
            <br>
            <span id="review{{ review.id }}">{{ review.body }}</span>
            {% if review.language and review.language != g.locale %}
            <br><br>
            <span id="translation{{ review.id }}">
                <a href="javascript:translate(
                            '#review{{ review.id }}',
                            '#translation{{ review.id }}',
                            '{{ review.language }}',
                            '{{ g.locale }}');">{{ _('Translate') }}</a>
            </span>
            {% endif %}
            <br>
            <span> 
                <form action="{{ url_for('main.useful', name=game.name, review_id=review.id) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value=_('This review was useful'), class_='btn btn-default') }}
                </form>
                {{ _('%(count)s consider it is useful', count=review.useful) }}
            </span>
        </td>
    </tr>
</table>
